<html>
    <head>
        <title>The Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">The Blog</a></h1>
        </div>
 
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <h3>Famous Inventions</h3>
            <p>Anemometer
Historians stipulate that it was Leonardo da Vinci’s fascination with flight that inspired him to innovate the anemometer, an instrument for measuring the speed of wind.

Flying Machine
Of Leonardo da Vinci’s many areas of study, perhaps this Renaissance man’s favorite was the area of aviation. It was this interest that inspired his most famous invention – the flying machine.

Helicopter (Aerial Screw)
Though the first actual helicopter wasn’t built until the 1940s, it is believed that Leonardo da Vinci’s sketches from the late fifteenth century detailed a predecessor to the modern-day flying machine.

Parachute
Though credit for the invention of the first practical parachute usually goes to Sebastien Lenormand in 1783, Leonardo da Vinci actually conceived the parachute idea a few hundred years earlier.

33-Barreled Organ
The way Leonardo da Vinci saw it, the problem with canons of the time was that they took far too long to load. His solution was to build multi-barreled guns that could be loaded and fired simultaneously.

Armoured Car
The precursor to the modern tank, Leonardo da Vinci's armored car invention was capable of moving in any direction and was equipped with a large number of weapons.

Giant Crossbow
One thing Leonardo da Vinci may have understood better than any of his contemporaries was the psychological effects of weapons in warfare – as illustrated by his giant crossbow invention.

Triple Barrel Canon
As a military engineer, one of Leonardo da Vinci's key beliefs was that mobility was crucial to victory on the battlefield. This idea is seen in his triple barrel canon invention.

Clock
To put away any initial confusion: Leonardo da Vinci did not invent the clock. What he did was design a more accurate clock.

Colossus
Perhaps even more interesting than the ambition and innovation behind Leonardo da Vinci's Colossus invention is the dramatic and heartbreaking story of his attempts to bring it to life.

Ideal City
No idea speaks to the epic ambition and scope of Leonardo da Vinci's inventions better than his ideal city, which combines da Vinci's talents as an artist, architect, engineer and inventor.

Robotic Knight
With his innovative, engineering mind, Leonardo da Vinci had many ideas that employed the use of pulleys, weights and gears – including his invention of a fully animated robot.

Self-Propelled Cart
Before motorized vehicles were even a glimmer in someone's eye, Leonardo da Vinci designed a self-propelled cart capable of moving without being pushed.

Scuba Gear
In his lifetime, da Vinci designed many inventions dealing with water – perhaps, most notably, scuba gear.

Revolving Bridge
Designed for Duke Sforza, Leonardo da Vinci's revolving bridge could be quickly packed up and transported for use by armies on the move to pass over bodies of water.
</p>
        </div>
 
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <h3>Famous Painting</h3>
            <p>Leonardo Da Vinci Paintings and Drawings: Leonardo Da Vinci is an Italian artist and sculptor. He is quite famous for "The Monolisa" and "The Last Supper" paintings. Currently they are on display in some of the prominent museums. He is broadly thought to be one of the best painters ever and maybe the most differently skilled individual ever to have lived. Eventhough he was such a great artist, only fifteen or so DaVinci paintings survive, many of his paintings have been lost during the world war times. Leonardo Da Vinci was born in the year 1452 at Italy. Leonardo Da Vinci had interest in science, maths and music apart from paintings. In fact he was the one to decipher that the sky is blue because of prisms, water particles and sunlight and that's why we don't see them in any other color.</p>
        </div>
    </body>
</html>

